@CHARSET "ISO-8859-1";
/* Reset CSS
 * --------------------------------------- */
a{
	 text-decoration:none;
   color: white;
}

address,caption,cite,code,dfn,em,strong,th,var {
    font-weight: normal;
    font-style: normal;
}

ol,ul {
    list-style: none;
    margin:0;
    padding:0;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
}

 /* Site-wide Styling
 * --------------------------------------- */

body{
	font-family: Arial, sans-serif;
  color: rgba(0,0,0,0.7);
}

h1{
	font-size: 3em;
  color:white;
}

.section{
	text-align: center;
  background: url(../img/blackboard.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.work_button {
  padding: 0.5rem;
  border-radius: 3px;
  text-decoration: none;
  color: white;
  background-color: rgba(0,0,0,0.3);
  position:relative;
  top: 20px;
  box-shadow: 4px 4px 2px #888888;
}

.down_arrow {
  display: inline-block;
  position: fixed;
  bottom: 3%;
  animation: bounce 2.5s infinite;
  opacity: 0.7;
}

@keyframes bounce {
  0% {
    transform: translateY(0px) translateX(-20px);

  }
  50% {
    transform: translateY(5px) translateX(-20px);
  }
  100% {
    transform: translateY(0px) translateX(-20px);
  }
}

.intro p{
 width: 50%;
 margin: 0 auto;
 font-size: 1em;
 text-align: justify;
}

.intro h1 {
color: rgba(0,0,0,0.7);
}

/* Project information overlay
* --------------------------------------- */

.overlay {
  position: absolute;
  top: 0px;
  height:100%;
  width:30%;
  margin-left: 55%;
  background-color: rgba(0,0,0,0.5);
  color: white;
}

.overlay p {
  text-align: left;
  position: relative;
  top: 40%;
  -ms-transform: translateY(-40%);
  -webkit-transform: translateY(-40%);
  transform: translateY(-40%);
  padding: 2em;
  color: white;
}

.overlay h1 {
  font-size: 3em;
  text-align: left;
  position: relative;
  top: 40%;
  -ms-transform: translateY(-40%);
  -webkit-transform: translateY(-40%);
  transform: translateY(-40%);
  color: white;
  padding-left: 2rem;
}

/* Welcome Page Styling
* --------------------------------------- */
#welcome {
  background-color: white;
  background-image: none;
}

#welcome h1{
  color: #444;
  font-size: 3.05em;
  margin-bottom: 0;
}
#welcome p{
  color: #333;
  color: rgba(0,0,0,0.3);
  font-size: 1.6em;
  margin-top: 0;
}

#welcome img{
  margin: 20px 0;
  opacity: 0.7;
}

/* About Me Page Styling
* --------------------------------------- */
#about {
  background-color: white;
  background-image: none;
}

/* Contact Page Styling
* --------------------------------------- */
#contact h1 {
  color: white;
}

/* Overwriting tooltip color
* --------------------------------------- */
#pp-nav.custom .pp-tooltip{
  color: #AAA;
}
