/* Reset CSS
 * --------------------------------------- */
a{
	 text-decoration:none;
   color: white;
}

address,caption,cite,code,dfn,em,strong,th,var {
    font-weight: normal;
    font-style: normal;
}

ol,ul {
    list-style: none;
    margin:0;
    padding:0;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
}

body {
	margin: 0;
}
/* --------------------------------------- */

/* full-page background image */
html {
  background: url(../img/wallpaper.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Menubar BG: */
.menubar {
	width: 100vw;
	height: 22px;
	line-height: 22px;
	margin: 0;
	background: rgba(255,255,255,0.75);
	box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.10), 0px 2px 0px 0px rgba(127,127,127,0.40);
}

.apple-logo {
	display: inline;
	position: relative;
	top: 2px;
	margin-left: 16px;
}

.menubar ul li {
	display: inline;
	margin-right: 16px;
	font-family: HelveticaNeue;
	font-size: 14.5px;
	color: #000000;
}

/* the first menubar list item (after the apple logo) should be bold */
.menubar ul li:nth-of-type(2) {
	font-family: HelveticaNeue-Bold;
	font-weight: bold;
}

.menubar ul li ul li {
	display: inline;
	position:absolute;
}
